In [1]:
import pandas as pd
%matplotlib notebook
import matplotlib.pyplot as plt
import numpy as np
import random
import scipy.stats as st
import sklearn.datasets as dta
# Dependencies
import json
import requests

In [2]:
csv_path = "archive/imdb_top_1000.csv"

# Import the CSV into a pandas DataFrame
topmovies_df = pd.read_csv(csv_path, low_memory=False)

In [ ]:
#drop null rows
#no_null_topmovies_df = topmovies_df.dropna(how='any')
#no_null_topmovies_df.count()

In [32]:
cleaned_topmovies_df=topmovies_df[["Genre", "IMDB_Rating"]]
cleaned_topmovies_df.head()

                  Genre  IMDB_Rating
0                 Drama          9.3
1          Crime, Drama          9.2
2  Action, Crime, Drama          9.0
3          Crime, Drama          9.0
4          Crime, Drama          9.0

In [8]:
genre_values=topmovies_df["Genre"].value_counts()
genre_values

Drama                          85
Drama, Romance                 37
Comedy, Drama                  35
Comedy, Drama, Romance         31
Action, Crime, Drama           30
                               ..
Animation, Biography, Crime     1
Drama, History, Music           1
Drama, History, Mystery         1
Horror, Mystery, Sci-Fi         1
Animation, Drama, Romance       1
Name: Genre, Length: 202, dtype: int64

In [4]:
cleaned_topmovies_df.dtypes

Genre           object
IMDB_Rating    float64
dtype: object

In [15]:
cleaned_topmovies_df.astype({'IMDB_Rating': 'str'}).dtypes

Series_Title    object
Genre           object
IMDB_Rating     object
dtype: object

In [34]:
result = cleaned_topmovies_df.set_index('IMDB_Rating').apply(lambda col:
    col.str.split(', ?', expand=True).stack())\
    .droplevel(1).reset_index().fillna('')

result

      IMDB_Rating     Genre
0             9.3     Drama
1             9.2     Crime
2             9.2     Drama
3             9.0    Action
4             9.0     Crime
...           ...       ...
2536          7.6     Drama
2537          7.6       War
2538          7.6     Crime
2539          7.6   Mystery
2540          7.6  Thriller

[2541 rows x 2 columns]

In [50]:
genre_values=result["Genre"].value_counts()
genre_values

Drama        724
Comedy       233
Crime        209
Adventure    196
Action       189
Thriller     137
Romance      125
Biography    109
Mystery       99
Animation     82
Sci-Fi        67
Fantasy       66
Family        56
History       56
War           51
Music         35
Horror        32
Western       20
Sport         19
Film-Noir     19
Musical       17
Name: Genre, dtype: int64

In [48]:
grouped_genre_values = result.groupby("Genre")["IMDB_Rating"].sum()
grouped_genre_values

Genre
Action       1502.3
Adventure    1558.6
Animation     650.3
Biography     865.0
Comedy       1841.5
Crime        1662.5
Drama        5762.6
Family        443.1
Fantasy       523.5
Film-Noir     151.8
History       445.4
Horror        252.4
Music         277.0
Musical       135.1
Mystery       788.8
Romance       990.7
Sci-Fi        534.5
Sport         150.6
Thriller     1083.6
War           408.7
Western       160.0
Name: IMDB_Rating, dtype: float64

In [27]:
#Calculate the number of unique genre in the DataFrame
genre_count=topmovies_df["Genre"]
# Calculate the earliest/latest year a movie was released
earliest_year = topmovies_df["Released_Year"].min()
latest_year = topmovies_df["Released_Year"].max()

#Calculate the total reviews for the entire dataset
# Hint: use the pandas' sum() method to get the sum for each row
topmovies_df['Total Reviews'] = topmovies_df.iloc[:, [6]].sum(axis=1)
total_reviews = sum(topmovies_df['Total Reviews'])

In [29]:
#Place all of the data found into a summary DataFrame
summary_df = pd.DataFrame({"Total Unique Authors": [genre_count],
                             "Earliest Year": earliest_year,
                             "Latest Year": latest_year,
                             "Total Reviews": total_reviews})
summary_df

,Total Unique Authors,Earliest Year,Latest Year,Total Reviews
0,0 Drama 1 ...,1920,PG,7949.3