In [240]:
import pandas as pd
%matplotlib notebook
import matplotlib.pyplot as plt
import numpy as np
import random
import scipy.stats as st
import sklearn.datasets as dta
# Dependencies
import json
import requests

In [241]:
csv_path = "archive/imdb_top_1000.csv"

# Import the CSV into a pandas DataFrame
topmovies_df = pd.read_csv(csv_path, low_memory=False)

In [242]:
#drop null rows
#no_null_topmovies_df = topmovies_df.dropna(how='any')
#no_null_topmovies_df.count()

In [243]:
cleaned_topmovies_df=topmovies_df[["Genre", "IMDB_Rating"]]
cleaned_topmovies_df.head()

                  Genre  IMDB_Rating
0                 Drama          9.3
1          Crime, Drama          9.2
2  Action, Crime, Drama          9.0
3          Crime, Drama          9.0
4          Crime, Drama          9.0

In [244]:
#genre_values=topmovies_df["Genre"].value_counts()
#genre_values

In [245]:
cleaned_topmovies_df

                        Genre  IMDB_Rating
0                       Drama          9.3
1                Crime, Drama          9.2
2        Action, Crime, Drama          9.0
3                Crime, Drama          9.0
4                Crime, Drama          9.0
..                        ...          ...
995    Comedy, Drama, Romance          7.6
996            Drama, Western          7.6
997       Drama, Romance, War          7.6
998                Drama, War          7.6
999  Crime, Mystery, Thriller          7.6

[1000 rows x 2 columns]

In [246]:
#indexed_rating=cleaned_topmovies_df.set_index('IMDB_Rating')
#indexed_rating

In [247]:
indexed_genre=cleaned_topmovies_df.set_index('Genre')
indexed_genre

                          IMDB_Rating
Genre
Drama                             9.3
Crime, Drama                      9.2
Action, Crime, Drama              9.0
Crime, Drama                      9.0
Crime, Drama                      9.0
...                               ...
Comedy, Drama, Romance            7.6
Drama, Western                    7.6
Drama, Romance, War               7.6
Drama, War                        7.6
Crime, Mystery, Thriller          7.6

[1000 rows x 1 columns]

In [248]:
split_indexed_genre=indexed_genre['Genre'].str.split(',', expand=True)
split_indexed_genre

KeyError: 'Genre'

In [235]:
indexed_genre2=cleaned_topmovies_df.set_index('0', '1', '2')
indexed_genre2

KeyError: "None of ['0'] are in the columns"

In [237]:
#grouped_split_indexed_rating = split_indexed_rating.groupby([[0, 1, 2]])
#grouped_split_indexed_rating

In [249]:
grouped_split_indexed_rating = split_indexed_genre.groupby([0, 1, 2])
grouped_split_indexed_rating

                     0         1          2
IMDB_Rating
9.3              Drama      None       None
9.2              Crime     Drama       None
9.0             Action     Crime      Drama
9.0              Crime     Drama       None
9.0              Crime     Drama       None
...                ...       ...        ...
7.6              Drama       War    Western
7.6          Adventure    Comedy        War
7.6             Comedy     Music    Musical
7.6              Drama   Romance        War
7.6              Crime   Mystery   Thriller

[416 rows x 3 columns]

In [197]:
renamed_split_indexed_rating=split_indexed_rating.rename(columns={"0": "Genre_1", "1": "Genre_2", "2":"Genre_3"})
renamed_split_indexed_rating

                  0         1          2
IMDB_Rating
9.3           Drama      None       None
9.2           Crime     Drama       None
9.0          Action     Crime      Drama
9.0           Crime     Drama       None
9.0           Crime     Drama       None
...             ...       ...        ...
7.6          Comedy     Drama    Romance
7.6           Drama   Western       None
7.6           Drama   Romance        War
7.6           Drama       War       None
7.6           Crime   Mystery   Thriller

[1000 rows x 3 columns]

In [194]:
renamed_split_indexed_rating.columns

Int64Index([0, 1, 2], dtype='int64')

In [252]:
indexed_genre=cleaned_topmovies_df.set_index('Genre')
indexed_genre

                          IMDB_Rating
Genre
Drama                             9.3
Crime, Drama                      9.2
Action, Crime, Drama              9.0
Crime, Drama                      9.0
Crime, Drama                      9.0
...                               ...
Comedy, Drama, Romance            7.6
Drama, Western                    7.6
Drama, Romance, War               7.6
Drama, War                        7.6
Crime, Mystery, Thriller          7.6

[1000 rows x 1 columns]

In [251]:
grouped_split_indexed_rating = split_indexed_rating.groupby([[0, 1, 2]])
grouped_split_indexed_rating

ValueError: Grouper and axis must be same length

In [188]:
grouped_split_indexed_ratings = pd.DataFrame(
   grouped_split_indexed_rating[['0','1','2']].sum('IMDB_Rating'))
grouped_split_indexed_ratings.head(10)

KeyError: "Columns not found: '1', '0', '2'"

In [103]:
# Calculate the number of unique genre in the DataFrame
#genre_count=topmovies_df["Genre"].unique()
#genre_count.values_count
# Calculate the earliest/latest year a movie was released
#earliest_year = topmovies_df["Released_Year"].min()
#latest_year = topmovies_df["Released_Year"].max()

# Calculate the total reviews for the entire dataset
# Hint: use the pandas' sum() method to get the sum for each row
#topmovies_df['Total Reviews'] = topmovies_df.iloc[:, [6]].sum(axis=1)
#total_reviews = sum(topmovies_df['Total Reviews'])

In [84]:
# Place all of the data found into a summary DataFrame
#summary_df = pd.DataFrame({"Total Unique Authors": [genre_count],
                             # "Earliest Year": earliest_year,
                             # "Latest Year": latest_year,
                            #  "Total Reviews": total_reviews})
#summary_df