In [17]:
import pandas as pd
%matplotlib notebook
import matplotlib.pyplot as plt
import numpy as np
import random
import scipy.stats as st
import sklearn.datasets as dta
# Dependencies
import json
import requests
import gmaps
from config import gkey
from collections import Counter

gmaps.configure(api_key=gkey)

api_key1="16771f22"

In [18]:
csv_path = "archive/imdb_top_1000.csv"

# Import the CSV into a pandas DataFrame
topmovies_df = pd.read_csv(csv_path, low_memory=False)
topmovies_df
title_df=topmovies_df["Series_Title"]
title_df.head()
title_df=title_df.tolist()
title=[]
country=[]

url = f"http://www.omdbapi.com/?apikey={api_key1}&t="

for movies in title_df:
    target_url=url+movies
    response=requests.get(target_url).json()
    
    try:
        title.append(response['Title'])
    except:
        title.append("NA")
        print("Title Not Found")
        pass
    try:
        country.append(response['Country'])
        
    except:
        country.append("NA")
        print("Country Not Found")
        pass

Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found

In [20]:
title_country_df=pd.DataFrame(list(zip(title, country)),columns =['Series_Title', 'Country'])
title_country_df

                 Series_Title                        Country
0    The Shawshank Redemption                  United States
1               The Godfather                  United States
2             The Dark Knight  United States, United Kingdom
3      The Godfather: Part II                  United States
4                12 Angry Men                  United States
..                        ...                            ...
995    Breakfast at Tiffany's                  United States
996                     Giant                  United States
997     From Here to Eternity                  United States
998                  Lifeboat                  United States
999              The 39 Steps                 United Kingdom

[1000 rows x 2 columns]

In [21]:
clean_tc_df = title_country_df[~title_country_df['Series_Title'].str.contains('NA')]
clean_tc_df

                 Series_Title                        Country
0    The Shawshank Redemption                  United States
1               The Godfather                  United States
2             The Dark Knight  United States, United Kingdom
3      The Godfather: Part II                  United States
4                12 Angry Men                  United States
..                        ...                            ...
995    Breakfast at Tiffany's                  United States
996                     Giant                  United States
997     From Here to Eternity                  United States
998                  Lifeboat                  United States
999              The 39 Steps                 United Kingdom

[869 rows x 2 columns]

In [22]:
merged_df=pd.merge(topmovies_df,clean_tc_df,on="Series_Title")
merged_df.head()
print(len(merged_df))

merged_df

merged_df=merged_df[["Series_Title","Country"]]
merged_df
mc = merged_df.set_index('Series_Title').apply(lambda col:
    col.str.split(', ?', expand=True).stack())\
    .droplevel(1).reset_index().fillna('')


type(mc["Country"].value_counts())

819

pandas.core.series.Series

In [23]:
csv_path1 = "archive/world_country_and_usa_states_latitude_and_longitude_values.csv"
coordinates_df = pd.read_csv(csv_path1, low_memory=False)
coordinates_df=coordinates_df[["country","latitude","longitude"]]
coordinates_df
mc_df=pd.DataFrame(mc)
mc_df=mc_df.rename(columns={"Country":"country"})
mc_df
mg_cd_df=pd.merge(mc_df,coordinates_df,on='country')
# mg_cd_df=mc_cd_df.dropna(inplace=True)

In [ ]:

# count_ct=mg_cd_df['country']

# type((pd.Series(list(count_ct)).value_counts()))

In [24]:
locations=mg_cd_df[['latitude','longitude']]

fig=gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations,dissipating=False, max_intensity=10, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…