In [60]:
import pandas as pd

In [61]:
file = '../Mango5/imdb_top_1000.csv'

In [62]:
imdb_df = pd.read_csv(file, encoding = "ISO-8859-1")
imdb_df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [76]:
imdb_df['star_df'] = imdb_df['Star1'] + "," + imdb_df['Star2'] + "," + imdb_df['Star3'] + "," + imdb_df['Star4']
star_df = imdb_df['star_df']
star_split_df = star_df.str.split(',', n=3, expand=True)
star_split_df[0].value_counts()

Tom Hanks            12
Robert De Niro       11
Al Pacino            10
Clint Eastwood       10
Leonardo DiCaprio     9
                     ..
Groucho Marx          1
Sam Worthington       1
Emily Blunt           1
Jared Leto            1
Bajram Severdzan      1
Name: 0, Length: 660, dtype: int64

In [77]:
star_split_df[1].value_counts()

Emma Watson        7
Matt Damon         5
Julie Delpy        4
Chris Evans        4
Ed Harris          4
                  ..
Keri Russell       1
Regina King        1
Mirai Shida        1
Takashi Shimura    1
Gene Kelly         1
Name: 1, Length: 841, dtype: int64

In [78]:
star_split_df[2].value_counts()

Rupert Grint            5
Carrie Fisher           4
Rachel McAdams          4
Jennifer Connelly       4
Joe Pesci               4
                       ..
Halina Gryglaszewska    1
Cate Blanchett          1
Nikolay Grinko          1
Honor Blackman          1
Gene Kelly              1
Name: 2, Length: 891, dtype: int64

In [79]:
star_split_df[3].value_counts()

Michael Caine       4
Mark Ruffalo        3
Catherine Keener    3
Diane Keaton        2
Takashi Shimura     2
                   ..
Paul Giamatti       1
Safak Sezer         1
Vladas Bagdonas     1
Dominique Pinon     1
Erwin Connelly      1
Name: 3, Length: 939, dtype: int64

In [80]:
director_df = imdb_df['Director'].value_counts()
director_df

Alfred Hitchcock     14
Steven Spielberg     13
Hayao Miyazaki       11
Martin Scorsese      10
Akira Kurosawa       10
                     ..
Marc Caro             1
Mamoru Oshii          1
George Sluizer        1
Rajkumar Santoshi     1
John Singleton        1
Name: Director, Length: 548, dtype: int64

In [68]:
genre_df = imdb_df['Genre']
genre_split_df = genre_df.str.split(',', n=2, expand=True)
genre_split_df[0].value_counts()

Drama        289
Action       172
Comedy       155
Crime        107
Biography     88
Animation     82
Adventure     72
Mystery       12
Horror        11
Western        4
Film-Noir      3
Fantasy        2
Family         2
Thriller       1
Name: 0, dtype: int64

In [69]:
genre_split_df[1].value_counts()

 Drama        320
 Adventure    113
 Crime         84
 Romance       53
 Comedy        43
 Mystery       41
 Thriller      37
 Family        26
 Sci-Fi        23
 Music         21
 Biography     20
 War           18
 History       18
 Horror        18
 Fantasy       18
 Action        17
 Film-Noir     10
 Sport          6
 Western        6
 Musical        3
Name: 1, dtype: int64

In [70]:
genre_split_df[2].value_counts()

 Drama        115
 Thriller      99
 Romance       72
 Mystery       46
 Fantasy       46
 Sci-Fi        44
 History       38
 Comedy        35
 War           33
 Family        28
 Crime         18
 Musical       14
 Music         14
 Sport         13
 Adventure     11
 Western       10
 Film-Noir      6
 Horror         3
 Biography      1
Name: 2, dtype: int64